<div id="googleMap"></div>

<script>
    function myMap() {
        <!-- SHOW GOOGLE MAP IN HTML -->
        var mapProp = {
            center: new google.maps.LatLng(43.296482, 5.36978),
            zoom: 2,
            <!-- RETIRER pour apparence ordinaire de la carte -->
            mapTypeId: google.maps.MapTypeId.HYBRID
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        <!-- VARIABLE FOR LAT and LONG -->
        var myLatLng = {
            lat: 43.296482,
            lng: 5.36978
        };

        <!-- MARKER -->
        var marker = new google.maps.Marker({
            position: myLatLng
        });
        marker.setMap(map);

        <!-- INFO WINDOW -->
        google.maps.event.addListener(marker, 'click', function() {
            var infowindow = new google.maps.InfoWindow({
                content: "<h2>Continent, Pays</h2><h1>Nom de la Webcam</h1><img src='aperçu de la webcam'><a href=''>Contacter</a>"
            });
            infowindow.open(map, marker);
        });
    }
</script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBghM65OXaB0ZDDKYf8LmCcrtTFouMvu8o&callback=myMap"></script>

<!-- EXEMPLE lgt,lat :
40.714224,-73.961452 -->
